@tailwind base;
@tailwind components;
@tailwind utilities;

/* :root {
  --danger: #e25858;
  --gray-100: #f2f2f2;
  --gray-200: #d9d9d9;
  --gray-300: #808080;
  --gray-400: #333333;
  --gray-500: #262626;
  --gray-600: #1a1a1a;
  --gray-700: #0D0D0D;

  --purple: #8284FA;
  --purple-dark: #5E60CE;
  --blue: #4ea8DE;
  --blue-dark: #1E6F9F;
} */

body {
  -webkit-font-smoothing: antialiased;
  font-family: Arial, Helvetica, sans-serif;
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}

:root  {
  --background: 239 100% 95%;
  --foreground: 239 5% 0%;
  --card: 239 50% 90%;
  --card-foreground: 239 5% 10%;
  --popover: 239 100% 95%;
  --popover-foreground: 239 100% 0%;
  --primary: 239 53.3% 58.8%;
  --primary-foreground: 0 0% 100%;
  --secondary: 239 30% 70%;
  --secondary-foreground: 0 0% 0%;
  --muted: 201 30% 85%;
  --muted-foreground: 239 5% 35%;
  --accent: 201 30% 80%;
  --accent-foreground: 239 5% 10%;
  --destructive: 0 100% 30%;
  --destructive-foreground: 239 5% 90%;
  --border: 239 30% 50%;
  --input: 239 30% 18%;
  --ring: 239 53.3% 58.8%;
  --radius: 0.5rem;
}
.dark  {
  --background: 239 50% 5%;
  --foreground: 239 5% 90%;
  --card: 239 50% 0%;
  --card-foreground: 239 5% 90%;
  --popover: 239 50% 5%;
  --popover-foreground: 239 5% 90%;
  --primary: 239 53.3% 58.8%;
  --primary-foreground: 0 0% 100%;
  --secondary: 239 30% 10%;
  --secondary-foreground: 0 0% 100%;
  --muted: 201 30% 15%;
  --muted-foreground: 239 5% 60%;
  --accent: 201 30% 15%;
  --accent-foreground: 239 5% 90%;
  --destructive: 0 100% 30%;
  --destructive-foreground: 239 5% 90%;
  --border: 239 30% 18%;
  --input: 239 30% 18%;
  --ring: 239 53.3% 58.8%;
  --radius: 0.5rem;
}



@layer base {
  * {
    @apply border-border;
  }
  body {
    @apply bg-background text-foreground;
  }
}
